name: Org Security Scan

on:
  workflow_call:
    inputs:
      run_branch:
        required: false
        type: string
    secrets:
      GITHUB_TOKEN:
        required: true

jobs:
  sast-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run SAST Scan
        run: echo "This is a placeholder for SAST/Secret scans"

  sca-dependabot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run Dependabot (Dependency Review)
        uses: actions/dependency-review-action@v4
        with:
          fail-on-severity: high
